# 2_Data structures in Python

# Topic: List

Exercise

Q1. Create a list of 5 random numbers and print the list.

Q2. Insert 3 new values to the list and print the updated list.

Q3. Try to use a for loop to print each element in the list.

In [11]:
#Creating the random numbers
import random
random_numbers = [random.randint(1,50) for i in range(5)]
print("Original List:", random_numbers)

Original List: [14, 30, 41, 41, 24]

In [12]:
#Insert 3 new values into the list
random_numbers.append(66)
random_numbers.append(76)
random_numbers.append(25)
print("Updated List:", random_numbers)

Updated List: [14, 30, 41, 41, 24, 66, 76, 25]

In [16]:
#Using for loop to print each element of the list
print("List elements:")
for i in random_numbers:print(i)

List elements:
14
30
41
41
24
66
76
25

# Topic: Dictionary

Exercise

Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [19]:
#Creating a dictionary with specified key-value pairs
person = {'name': 'John','age': 25,'address': 'New York'}
print("Dictionary:", person)

Dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

In [21]:
#Adding a new key-value pair to the dictionary
person['phone'] = '1234567890'
print("Updated Dictionary:", person)

Updated Dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

# Topic: Set

Exercise  

Q1.Create a set with values 1, 2, 3, 4, and 5.

Q2. Add the value 6 to the set created in Q1.

Q3. Remove the value 3 from the set created in Q1.

In [22]:
#Creating a set with values 1,2,3,4 and
NumSet = {1, 2, 3, 4, 5}
print("Original Set:", NumSet)

Original Set: {1, 2, 3, 4, 5}

In [23]:
#Adding the value 6 to the set
NumSet.add(6)
print("Updated Set:", NumSet)

Updated Set: {1, 2, 3, 4, 5, 6}

In [25]:
#Removing the value 6 to the set
NumSet.remove(3)
print("Updated Set:", NumSet)

Updated Set: {1, 2, 4, 5, 6}

# Topic:Tuple

Exercise

Q1. Create a tuple with values 1, 2, 3, and 4

Q2. Print the length of the tuple created in Q1.

In [26]:
# Creating a tuple with values 1, 2, 3, and 4
NumTuple = (1, 2, 3, 4)
print("Tuple:", NumTuple)

Tuple: (1, 2, 3, 4)

In [31]:
print("The length of the Tuple is", len(NumTuple))

The length of the Tuple is 4